h1 {
  color: #000;
  text-align: center;
}
h3 {
  border-bottom: 1px solid #666;
  margin-top: 4rem;
}
h4 {
  color: #777;
}

body {
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  margin: 3rem;
  background-color: #fff;
}

label {
  display: inline-block;
  width: 9rem;
  text-align: right;
}

input {
  border-radius: 2px;
}

.button {
  border-radius: 2px;
  border-style: none;
  background-color: #41963b;
  color: #fff;
  height: 42px;
  width: 144px;
  font-size: medium;
  cursor: pointer;
}

.button:hover {
  background-color: #5ca832;
}

.submit {
  margin-left: 5.5rem;
}

.row {
  display: flex;
  justify-content: center;
  text-align: justify;
  margin: auto;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  margin: auto;
}

.footer {
  width: 100%;
  border-top: 5px solid #41963b;
  margin-top: 2rem;
}

.info {
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header {
  width: 100%;
  height: 100px;
  border-bottom: 5px solid #41963b;
  display: flex;
  justify-content: space-between;
}

.imagen {
  text-align: right;
}

.img {
  padding: 1rem;
  border: 1px solid #999;
}

.js-plotly-plot {
  border: 1px solid;
}

.respuesta {
  font-weight: bold;
  color: #41963b;
}
.showResult {
  display: block;
}
.hideResult {
  display: none;
}
